@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply px-3 sm:px-5 mx-auto;
  max-width: 1440px;
}

.header_height {
  height: 75px !important;
}

.take_screen {
  min-height: calc(100vh - 75px);
}

/* Custom Table */
.table_wrapper {
  @apply relative overflow-x-auto bg-white dark:bg-gray-800;
}
.table_wrapper > table {
  @apply w-full text-sm text-left text-gray-500 dark:text-gray-400;
}

.table_wrapper > table > thead {
  @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;
}

.table_wrapper > table > thead th {
  @apply px-6 py-3 bg-gray-100 dark:bg-gray-700;
}

.table_wrapper > table > tbody > tr {
  @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-green-50 dark:hover:bg-gray-700 dark:hover:bg-opacity-50;
}
.table_wrapper > table > tbody > tr:last-child {
  border: none !important;
}

.table_wrapper > table > tbody > tr td {
  @apply px-6 py-4 font-medium text-gray-900 dark:text-gray-100;
}

.text-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-r;
}

h1 {
  @apply text-3xl lg:text-5xl font-extrabold;
}

h2 {
  @apply text-2xl md:text-3xl lg:text-4xl font-bold;
}

h3 {
  @apply text-xl lg:text-3xl font-bold;
}

h4 {
  @apply text-lg md:text-xl lg:text-2xl font-bold;
}

h5 {
  @apply text-base lg:text-xl font-bold;
}

h6 {
  @apply text-sm lg:text-lg font-medium;
}

.break-child {
  width: 150px;
  background-color: gold;
  margin-bottom: 8px;
  font-size: 16px;
  word-wrap: break-word;
}
