@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply px-3 sm:px-5 mx-auto;
  max-width: 1200px;
}

.header_height {
  height: 80px !important;
}

.take_screen {
  padding: 32px 0; /*32*/
  min-height: calc(100vh - 80px);
}
.minus_height_screen {
  height: calc(100vh - 80px);
}

/* Custom Table */
.table_wrapper {
  @apply relative overflow-x-auto bg-white dark:bg-gray-800;
}
.table_wrapper > table {
  @apply w-full text-sm text-left text-gray-500 dark:text-gray-400;
}

.table_wrapper > table > thead {
  @apply text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400;
}

.table_wrapper > table > thead th {
  @apply px-6 py-3 bg-gray-100 dark:bg-gray-700;
}

.table_wrapper > table > tbody > tr {
  @apply bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-green-50 dark:hover:bg-gray-700 dark:hover:bg-opacity-50;
}
.table_wrapper > table > tbody > tr:last-child {
  border: none !important;
}

.table_wrapper > table > tbody > tr td {
  @apply px-6 py-4 font-medium text-gray-900 dark:text-gray-100;
}

.text-gradient {
  @apply text-transparent bg-clip-text bg-gradient-to-r;
}

h1 {
  @apply text-3xl lg:text-5xl font-extrabold;
}

h2 {
  @apply text-2xl md:text-3xl lg:text-4xl font-bold;
}

h3 {
  @apply text-xl lg:text-3xl font-bold;
}

h4 {
  @apply text-lg md:text-xl lg:text-2xl font-bold;
}

h5 {
  @apply text-base lg:text-xl font-bold;
}

h6 {
  @apply text-sm lg:text-lg font-medium;
}

.break-child {
  width: 150px;
  background-color: gold;
  margin-bottom: 8px;
  font-size: 16px;
  word-wrap: break-word;
}

/* SunEditor Custom Styles */
.sun-editor {
  border-radius: 4px !important;
  overflow: hidden;
}
.dark .sun-editor {
  border: 1px solid #555555 !important;
}

.dark .se-wrapper-inner.se-wrapper-wysiwyg.sun-editor-editable {
  background: #1f2937 !important;
  color: white !important;
}

.dark .se-btn-tray {
  background: #111827;
}

.dark .se-btn-tray * {
  color: white !important;
}

.dark .se-btn-tray button:hover {
  background: #6f68e1 !important;
  color: white !important;
}

.dark .se-btn-module.se-btn-module-border {
  border-color: #55555555 !important;
}

.dark .sun-editor .se-toolbar {
  outline: 0px solid #000000 !important;
  box-shadow: 0px 0px 5px 0px #55555523;
}

.dark .sun-editor .se-resizing-bar {
  background: #e5d7d7;
  border: 1px solid transparent !important;
}

.dynamic_page .se-resizing-bar {
  display: none !important;
  height: auto !important;
}

.dynamic_page .sun-editor {
  border: transparent !important;
  border-radius: 0px !important;
}

.dark .rti--container {
  background: #111827;
}

.rti--container span {
  border-radius: 4px !important;
  padding: 3px 6px !important;
}
.rti--container input {
  border-radius: 4px !important;
  padding: 5px !important;
}
.dark .rti--container span,
.dark .rti--container input {
  background: #444444;
  color: white;
}
